.photograph-header {
  background-color: #fafafa;
  min-height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.contact_button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 19px 15px 19px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  min-width: 161px;
}

.contact_button:hover {
  /* background-color: #db8876;
  color: black; */
  background-color: #2980b9;
  color: white;
}

/* Modal Contact */

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.387);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 50px auto 50px;
  width: 36%;
  height: auto;
}

.modal-header {
  display: flex;
  flex-direction: column;
  font-size: 40px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 29px;
}

.modal header img {
  cursor: pointer;
  position: relative;
  bottom: 25px;
  left: -3px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 21px;
  margin-bottom: 4px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

.form-text {
  width: 95.5%;
  margin: auto;
  height: 27px;
  border: none;
  border-radius: 5px;
  font-size: 19px;
  padding: 10px;
  outline: none !important;
  border: 2.5px solid rgba(85, 85, 85, 0);
  font-family: "DM Sans", sans-serif;
}

form label {
  margin-top: 6px;
}

/* input:focus {
  border: 2.5px solid #555;
} */

/* .form-text-msg:focus {
  border: 2.5px solid #555;
} */

.form-text-msg {
  height: 100px;
  flex-wrap: wrap;
  min-width: 95.5%;
  max-width: 95.5%;
  min-height: 50px;
  border-radius: 5px;
  outline: none !important;
  border: 2.5px solid rgba(85, 85, 85, 0);
  padding: 10px;
  font-size: 19px;
  font-family: "DM Sans", sans-serif;
}

.modal-contact_button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 17px 14px 17px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  margin-top: 18px;
  min-width: 161px;
  outline: none !important;
  border: 2.5px solid #7083ff00;
}

.modal-contact_button:focus {
  border: 2.5px solid #7083ff;
}

/* ==== Header Photographe === */

#headerLeft {
  display: flex;
  align-items: center;
  padding: 20px 10px 20px 60px;
  max-width: 33%;
}

#headerRight {
  display: flex;
  align-items: center;
  padding: 0px 60px 0px;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.leftDiv-title {
  color: #d3573c;
  font-size: 49px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

.leftDiv-location {
  font-size: 21px;
  color: #901c1c;
  font-weight: 400;
}

.leftDiv-tagLine {
  font-size: 18px;
  font-weight: lighter;
  color: #646464;
}

/* === Img Pics List === */

.conteneur-pics {
  height: auto;
  margin: 44px 100px 0px;
  border: 0px solid black;
  display: grid;
  column-gap: 7.5%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.PicsCard {
  border: 0px solid black;
  position: relative;
}

.imgPicsList {
  aspect-ratio: 1/0.89;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.infoPics {
  display: flex;
  margin-top: 9px;
  margin-bottom: 34px;
  color: #901c1c;
  font-size: 18px;
  font-weight: lighter;
  justify-content: space-between;
}

.infoPics-left {
}

.video-icon-position {
  user-select: none;
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 11px;
  color: #650000;
  color: #ffffffe4;
  background-color: #000000a4;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* === Like Button Div === */
.infoPicsRight {
  display: flex;
  gap: 7px;
  cursor: pointer;
  user-select: none;
  padding: 0 2px 0 15px;
}

.heart-icon {
  position: relative;
  top: 3.5px;
}

.like-animation {
  display: initial;
  animation: fadeIn;
  animation-duration: 200ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.8;
    animation: ease-in-out;
  }
  100% {
    opacity: 1;
    animation: linear;
  }
}

.bottomRightInfo {
  padding: 10px 25px 10px;
  border-radius: 4px 4px 0px 0px;
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 40px;
  font-size: 19px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  width: 210px;
}

/* === Filtres ===  */
.conteneur-filtre {
  display: flex;
  gap: 15px;
  height: auto;
  margin: 29px 100px auto;
  border: 0px solid black;
  font-size: 18px;
  font-weight: bolder;
}

/* = Dropdown Button = */

.dropbtn {
  align-items: center;
  background: #901c1c;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 17px;
  font-weight: 500;
  justify-content: flex-start;
  padding: 14px 45px 14px 18px;
  width: auto;
  gap: 9px;
  cursor: pointer;
  border: none;
  list-style-position: outside;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.icon-position {
  position: relative;
  top: 13px;
  left: -48px;
  color: white;
  pointer-events: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: #2980b9;
  border: none;
  outline: none;
}

.dropbtn:focus {
  border: none;
  outline: none;
}

/* Forms Error Style */

/* Besoin de JS et déclenchement d'erreur pour fonctionner */
.formData[data-error]::after {
  content: attr(data-error); /* Injecte le texte error en dessous */
  font-size: 17px;
  color: #ab313d;
  display: block;
  margin-top: 7px;
  text-align: right;
  line-height: 0.1;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
  line-height: 1;
  margin-bottom: 4px;
}
/* Applique bordure rouge sur l'input */
.formData[data-error-visible="true"] .form-text {
  border: 2.5px solid #e54858;
}

.formData[data-error-visible="true"] .form-text-msg {
  border: 2.5px solid #e54858;
}

/* 
input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
} */

.goodBorder {
  border: 2.5px solid #76b2fff0;
}

.modal2 img {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
}

#contact_modal2 {
  display: none;
  position: fixed;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.387);
}

.modal2 {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #c0ffc0;
  flex-direction: column;
  padding: 20px;
  margin: 50px auto 50px;
  width: 305px;
  position: relative;
  animation-name: modalopen;
  animation-duration: 250ms;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

.modal2-msg {
  display: flex;
  gap: 10px;
  color: black;
  font-size: 19px;
}

.modal2-cross {
  font-size: 24px;
  position: absolute;
  top: 7px;
  right: 15px;
  cursor: pointer;
}

.validation-icon {
  font-size: 29px;
  color: #398d4e;
  top: -2px;
  position: relative;
}

/* LightBox */
#lightbox_modal {
  display: none;
  position: fixed;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.lightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: auto;
  height: 85vh;
  aspect-ratio: 1.16/1;
  position: relative;
}

.lightbox-cross {
  font-size: 45px;
  position: absolute;
  top: -13px;
  right: -52px;
  cursor: pointer;
  color: #650000;
}

.lightbox-arrow-right {
  font-size: 43px;
  position: absolute;
  top: 45%;
  right: -55px;
  cursor: pointer;
  color: #650000;
}

.lightbox-arrow-left {
  font-size: 43px;
  position: absolute;
  top: 45%;
  left: -55px;
  cursor: pointer;
  color: #650000;
}

/* Test */

.createdMedia {
  /* width: 100%;
  height: 100%; */
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.lightbox-media {
  /* border: 2px solid blue; */
  max-height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* aspect-ratio: 1.16/1; */
}

.lightbox-text-media {
  /* border: 2px solid RED; */
  width: 100%;
  height: 40px;
  margin-top: 9px;
  font-size: 18px;
  color: #650000;
  text-align: center;
}
