#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  min-height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.contact_button {
  font-size: 19px;
  font-weight: bold;
  color: white;
  padding: 20px 15px 20px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  min-width: 161px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#headerLeft {
  display: flex;
  align-items: center;
  padding: 20px 10px 20px 60px;
  max-width: 33%;
}

#headerRight {
  display: flex;
  align-items: center;
  padding: 0px 60px 0px;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.leftDiv-title {
  color: #d3573c;
  font-size: 49px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

.leftDiv-location {
  font-size: 21px;
  color: #901c1c;
  font-weight: 400;
}

.leftDiv-tagLine {
  font-size: 18px;
  font-weight: lighter;
  color: #646464;
}

.photographer-pics {
  margin-top: 20px;
  height: 200px;
  border: 1px solid black;
  margin: 50px 100px 0px;
}
